/*body {*/
    /*background: #7a869c;*/
/*}*/

/*.opengov-nav, .opengov-nav .container{*/
    /*background-color: #424651;*/
    /*text-transform: uppercase;*/
/*}*/

/*.navbar-nav>li>a {*/
    /*color: #eef2fb !important;*/
/*}*/
/*.main {*/
    /*margin-top:30px;*/
/*}*/
/*.container{*/
    /*background: #FFFFFF;*/
    /*max-width: 1170px;*/
/*}*/

/*.gray-col{*/
    /*background-color: #bbc1cd;*/
    /*color: white;*/
/*}*/