body {
    background: #7a869c;
}

.opengov-navbar {
    background-color: #424651;
    text-transform: uppercase;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

#responsive-menu>ul>li>a{
    background-color: #424651;
    color: #eef2fb;
}

#responsive-menu>ul>li>a:hover{
    background-color: #bbc1cd;
    color: #333;
}

.main {
    background-color: #fff;
    margin-top: -20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}