body {
    background: #7a869c;
    font-family: Calibri;
}

p {
    font-size: 16px;
}

.nav-justified {
    display: table;
}

.navbar-nav.nav-justified > li {
    float: none;
    width: auto;
}

.opengov-navbar {
    background-color: #424651;
    text-transform: uppercase;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.navbar-open {
    width: 100%;
}

.navbar-open > li:last-child {
    float: right;
}

.icon-white {
    color: #fff;
}

.opengov-block {

    /*padding: 0;*/
    /*font-weight: bold;*/
    padding: 10px -15px;
}

.opengov-block-header {

    /*font-weight: bold;*/
}

.opengov-block-span-header {
    font-size: 19px;
    /*font-family: Calibri;*/
    background-color: #bbc1cd;
    text-align: left;
    color: #FFFFFF;
    display: block;
    padding: 8px;
    margin-top: 10px;
}

.opengov-block-span {
    /*font-family: Calibri;*/
    background-color: #eef1f8;
    color: #7a879a;
    text-align: center;
    display: block;
    padding: 8px;
}

#responsive-menu > ul > li > a {
    background-color: #424651;
    color: #eef2fb;
}

#responsive-menu > ul > li.active > a, #responsive-menu > ul > li > a:hover {
    background-color: #bbc1cd;
    color: #333;
}

.main {
    background-color: #fff;
    margin-top: -20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.top-buffer {
    margin-top: 10px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

a, a:visited {
    color: #000;
}

a:hover {
    color: #2aabd2;
    text-decoration: none;
}

span.date {
    color: #00acce;
}

span.smi-title {
    text-transform: uppercase;
    color: #aaaaaa;
    font-weight: bold;
}

.opengov-post {
    display: block;
}

.news-list-header {
    float: left;
    text-transform: uppercase;
}

.news-list-pagination {
    margin-bottom: 0;
}

.news-list-separator {
    height: 30px;
    margin-top: 5px;
}

.img-banner-left {
    display: inline-block;
    float: left;
    width: 40px;
    height: 50px;
}

span.banner-text-right {
    display: inline-block;
    float: right;
}

.img-center {
    margin: 0 auto;
}

.bottom-sliders {
    margin-left: 15px;
}

.opengov-block-span-header-list {
    padding: 15px;
}

.opengov-footer {
    background-color: #eef1f8;
    padding: 50px 110px 60px 60px;
}

.opengov-footer > p, .opengov-footer > p > a {
    color: #8997a4;
}

.modal-content {
    padding: 10px 35px 30px 50px;
}

.opengov-share {
    list-style: none;
    padding-left: 0;
}

.opengov-share > li {
    display: inline;
    margin-right: 10px;
}