<div class="row">
    <div class="col-md-12 opengov-carousel">
        <div id="Carousel" class="carousel slide">

            <!--<ol class="carousel-indicators">-->
                <!--<li data-target="#Carousel" data-slide-to="0" class="active"></li>-->
                <!--<li data-target="#Carousel" data-slide-to="1"></li>-->
                <!--<li data-target="#Carousel" data-slide-to="2"></li>-->
            <!--</ol>-->

            <!-- Carousel items -->
            <div class="carousel-inner">

                <div class="item active">
                    <div class="row">
                        <div class="col-md-3"><a href="#" class="thumbnail"><img src="/media/banner_site_gubernator_ko.png"
                                                                                 alt="Image"
                                                                                 style="max-width:100%;"></a></div>
                        <div class="col-md-3"><a href="#" class="thumbnail"><img src="/media/banner_ep.png"
                                                                                 alt="Image"
                                                                                 style="max-width:100%;"></a></div>
                        <div class="col-md-3"><a href="#" class="thumbnail"><img src="/media/banner_vash_kontrol.png"
                                                                                 alt="Image"
                                                                                 style="max-width:100%;"></a></div>
                        <div class="col-md-3"><a href="#" class="thumbnail"><img src="/media/banner_roi.png"
                                                                                 alt="Image"
                                                                                 style="max-width:100%;"></a></div>
                    </div><!--.row-->
                </div><!--.item-->

            </div><!--.carousel-inner-->
            <!--<a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>-->
            <!--<a data-slide="next" href="#Carousel" class="right carousel-control">›</a>-->
        </div><!--.Carousel-->

    </div>
</div>