<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 top-buffer">
        <a href="/"><img src="/media/open_gov.png" alt="" class="img-responsive"></a>
    </div>

    <div class="col-md-12 col-lg-12 hidden-xs hidden-sm top-buffer opengov-block-header">
        <span class="opengov-block-span-header">Сервисы</span>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 top-buffer opengov-block">
        <a href="#"><span class="opengov-block-span">Государственные и муниципальные услуги</span></a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 top-buffer opengov-block">
        <a href="#">
            <span class="opengov-block-span">
                ИНТЕРНЕТ-ПРИЕМНАЯ<br>
                <img src="/media/gerb_kontur.png" alt="" class="img-responsive img-center" height="60px" width="50px">
                Губернатора Калининградской области
            </span>
        </a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 top-buffer opengov-block">
        <a href="#"><span
                class="opengov-block-span">Трансляция заседаний Правительства области</span></a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 top-buffer opengov-block">
        <a href="#"><span
                class="opengov-block-span">Материалы заседаний Правительства области</span></a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 top-buffer opengov-block">
        <a href="#">
            <span class="opengov-block-span"><img src="/media/pa.png" alt="" class="img-responsive img-banner-left"><i>Правовые акты</i> органов государственной власти Калининградской области</span>
        </a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 top-buffer opengov-block">
        <a href="#">
            <span class="opengov-block-span"><img src="/media/npa.png" alt="" class="img-responsive img-banner-left">Независимая антикоррупционная экспертиза НПА</span>
        </a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 top-buffer opengov-block">
        <a href="#"><span
                class="opengov-block-span">Публичное обсуждение нормативно-правовых акто</span></a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 top-buffer opengov-block">
        <a href="#"><span class="opengov-block-span">Открытые данные</span></a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 top-buffer opengov-block">
        <a href="#"><span class="opengov-block-span">Общественные советы</span></a>
    </div>
</div>