<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <div class="opengov-footer">
            <p>Почтовый адрес: 236007, г. Калининград, ул. Дм. Донского, 1<br>
            Обращения граждан принимаются в интернет-приемной губернатора калининградской области<br>
            &copy; 2016 Правительство Калининградской области<br>
            По вопросам работы сайта обращайтесь по e-mail: <a mailto="site@gov39.ru">site@gov39.ru</a> с пометкой "Сайт Открытого Правительства Калининградской области"</p>
        </div>
    </div>
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3"><img src="/media/open_gov.png" alt=""
                                                          class="img-responsive"></div>
</div>