{% extends "base.html" %}

{% block content %}
<div class="row bottom-buffer opengov-block-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <span class="opengov-block-span-header">Лента событий</span>
    </div>
</div>
{% for post in news %}
<div class="row opengov-post">
    <!-- Link trigger modal -->
    <a href="{{ post.get_absolute_url }}" data-toggle="modal" data-target="#opengovModal" data-remote="false">
        <div class="col-md-5 top-buffer">
            <!--<img src="http://placehold.it/270x180" alt="" class="img-responsive">-->
            <img src="{{ post.image.url }}" alt="" class="img-responsive">
        </div>
        <div class="col-md-7 top-buffer">
            <p><span class="date">{{ post.timestamp|date:"d.m.Y" }}</span></p>
            <h4>{{ post.title }}</h4>
            <p>{{ post.content|removetags:""|safe|slice:":130" }}...</p>
        </div>
    </a>


    <!-- Default bootstrap modal example -->
    <div class="modal fade" id="opengovModal" tabindex="-1" role="dialog" aria-labelledby="opengovModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="opengovModalLabel"><span
                            class="date">{{ post.timestamp|date:"d.m.Y" }}</span></h3>
                </div>
                <div class="modal-body">

                </div>

            </div>
        </div>
    </div>

    <script language="JavaScript">
        // Fill modal with content from link href
        $("#opengovModal").on("show.bs.modal", function (e) {
            var link = $(e.relatedTarget);
            $(this).find(".modal-body").load(link.attr("href"));
        });
    </script>
</div>
<hr>
{% endfor %}


<div class="row">
    <p class="text-center"><a href="{% url 'news:news_list' %}"><b><span class="date">ВСЕ СОБЫТИЯ</span></b></a></p>
</div>
<hr>

<div class="row bottom-buffer opengov-block-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <span class="opengov-block-span-header">Пресса о нас</span>
    </div>
</div>

{% for post_press in press %}
<div class="row">
    <div class="col-md-12">
        <!-- Link trigger modal -->
        <a href="{{ post_press.get_absolute_url }}" data-toggle="modal" data-target="#opengovModal" data-remote="false">
            <p><span class="date">{{ post_press.timestamp|date:"d.m.Y" }}</span><br>
                <span class="smi-title">{{ post_press.smiTitle }}</span><br>
                {{ post_press.title }}</p>
        </a>


        <!-- Default bootstrap modal example -->
        <div class="modal fade" id="opengovModal" tabindex="-1" role="dialog" aria-labelledby="opengovModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="opengovModalLabel"><span
                            class="date">{{ post.timestamp|date:"d.m.Y" }}</span></h3>
                    </div>
                    <div class="modal-body">

                    </div>

                </div>
            </div>
        </div>

        <script language="JavaScript">
            // Fill modal with content from link href
            $("#opengovModal").on("show.bs.modal", function (e) {
                var link = $(e.relatedTarget);
                $(this).find(".modal-body").load(link.attr("href"));
            });
        </script>
    </div>
</div>
<hr>
{% endfor %}

<div class="row">
    <p class="text-center"><a href="{% url 'news:press_list' %}"><b><span class="date">ВСЕ МАТЕРИАЛЫ</span></b></a>
    </p>
</div>
<hr>
{% endblock content %}