<nav class="navbar navbar-inverse navbar-static-top opengov-navbar navbar-bootsnipp animate">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                    <span class="sr-only">Открыть навигацию</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- <a href="#" class="navbar-brand">Название</a> -->
            <div class="collapse navbar-collapse" id="responsive-menu">
                <ul class="nav navbar-nav navbar-open ">
                    <li class="[ visible-xs ]">
                        <form action="http://bootsnipp.com/search" method="GET" role="search">
                            <div class="[ input-group ]">
                                <input type="text" class="[ form-control ]" name="q" placeholder="Поиск по сайту">
								<span class="[ input-group-btn ]">
									<button class="[ btn btn-primary ]" type="submit"><span
                                            class="[ glyphicon glyphicon-search ]"></span></button>
									<button class="[ btn btn-danger ]" type="reset"><span
                                            class="[ glyphicon glyphicon-remove ]"></span></button>
								</span>
                            </div>
                        </form>
                    </li>
                    <li class="active"><a href="/"><span class="glyphicon glyphicon-home icon-white" aria-hidden="true"></span></a>
                    </li>
                    <li><a href="#about">Сервисы</a></li>
                    <li><a href="#contact">О проекте</a></li>
                    <li><a href="#contact">Документы</a></li>
                    <li><a href="#contact">Рабочая группа</a></li>
                    <li><a href="#contact">Опросы</a></li>
                    <li><a href="#contact">Обратная связь</a></li>
                    <!--<li><a href="#contact"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>-->
                    <li class="[ hidden-xs ]"><a href="#toggle-search"><span
                            class="[ glyphicon glyphicon-search ]"></span></a>
                    </li>


                </ul>
                <!--<ul class="nav navbar-nav navbar-right navbar-open-right">-->
                <!--<li class="[ hidden-xs ]"><a href="#toggle-search" class="[ animate ]"><span-->
                <!--class="[ glyphicon glyphicon-search ]"></span></a>-->
                <!--</li>-->
                <!--</ul>-->
            </div>

        </div>
    </div>

    <div class="[ bootsnipp-search animate ]">
        <div class="[ container ]">
            <form action="#" method="GET" role="search">
                <div class="[ input-group ]">
                    <input type="text" class="[ form-control ]" name="q"
                           placeholder="Поиск по сайту">
						<span class="[ input-group-btn ]">
							<button class="[ btn btn-danger ]" type="reset"><span
                                    class="[ glyphicon glyphicon-remove ]"></span></button>
						</span>
                </div>
            </form>
        </div>
    </div>

</nav>