{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="news-list-header">Лента событий</h3>
        <nav style="float: right">
            <ul class="pagination news-list-pagination">
                {% if queryset_list.has_previous %}
                <li>
                    <a href="?{{ page_request_var }}={{ queryset_list.previous_page_number }}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for i in range_pagination %}
                <li><a href="?{{ page_request_var }}={{ i }}">{{ i }}</a></li>
                {% endfor %}
                {% if queryset_list.has_next %}
                <li>
                    <a href="?{{ page_request_var }}={{ queryset_list.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
<div class="row bottom-buffer opengov-block-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <span class="opengov-block-span-header opengov-block-span-header-list"></span>
    </div>
</div>


{% for post in queryset_list %}
<div class="row opengov-post">
    <!-- Link trigger modal -->
    <a href="{{ post.get_absolute_url }}" data-toggle="modal" data-target="#opengovModal" data-remote="false">
        {% if post.image.url %}
        <div class="col-md-5 top-buffer"><img src="{{ post.image.url }}" class="img-responsive"></div>
        <div class="col-md-7 top-buffer">
            <p><span class="date">{{ post.timestamp|date:"d.m.Y" }}</span></p>
            <h4>{{ post.title }}</h4>
            <p>{{ post.content|removetags:""|safe|slice:":150" }} ... </p>
        </div>
        {% else %}
        <div class="col-md-12 top-buffer">
            <p><span class="date">{{ post.timestamp|date:"d.m.Y" }}</span></p>
            <h4>{{ post.title }}</h4>
            <p>{{ post.content|removetags:""|safe|slice:":250" }} ...</p>
        </div>
        {% endif %}
    </a>


    <!-- Default bootstrap modal example -->
    <div class="modal fade" id="opengovModal" tabindex="-1" role="dialog" aria-labelledby="opengovModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <!--<h2 class="modal-title" id="opengovModalLabel">{{ post.title }}</h2>-->
                    <h3 class="modal-title" id="opengovModalLabel"><span
                            class="date">{{ post.timestamp|date:"d.m.Y" }}</span></h3>
                </div>
                <div class="modal-body">

                </div>

            </div>
        </div>
    </div>

    <script language="JavaScript">
        // Fill modal with content from link href
        $("#opengovModal").on("show.bs.modal", function (e) {
            var link = $(e.relatedTarget);
            $(this).find(".modal-body").load(link.attr("href"));
        });
    </script>
</div>
<hr>
{% endfor %}


{% endblock content %}