{#{% extends "base.html" %}#}

{#{% block content %}#}
<div class="row">
    {% if instance.image.url %}
    <div class="col-xs-6 col-sm-6 col-md-7 col-ls-7">
        <img src="{{ instance.image.url }}" alt="" class="img-responsive">
    </div>
    {% endif %}
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h1>{{ instance.title }}</h1>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        {# <h2>{{ title }}</h2>#}
        <p>{{ instance.content|removetags:""|safe }}</p>
        {% if instance.smiTitle %}
        <p><span class="smi-title">{{ instance.smiTitle }}</span></p>
        {% endif %}
    </div>
</div>

<br>
<div class="row">
    <div class="col-md-12">
        <p>
        <p><b><span class="date">Поделиться:</span></b></p>
        <ul class="opengov-share">
            <li><i class="fa fa-share-alt fa-2x" aria-hidden="true"></i></li>
            <li>
                <!--<a href="http://vk.com/share.php?url={{ instance.get_absolute_url }}" class="vk popup">-->
                <a href="http://vk.com/share.php?url={{ request.build_absolute_uri }}" class="vk popup">
                    <i class='fa fa-vk fa-2x' aria-hidden='true' style='color:#45668e'></i>
                </a>
            </li>
            <li>
                <a class="twitter popup" href="http://twitter.com/share">
                    <i class="fa fa-twitter fa-2x" aria-hidden="true" style="color: #55acee"></i>
                </a>
            </li>
            <li>
                <a href="http://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="fb popup">
                    <i class="fa fa-facebook fa-2x" aria-hidden="true" style="color: #3b5998"></i>
                </a>
            </li>
            <li>
                <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" class="google-plus popup">
                    <i class="fa fa-google-plus fa-2x" aria-hidden="true" style="color: #dc4e41"></i>
                </a>
            </li>
        </ul>
        </p>
    </div>
</div>


{# {% if instance.image.url %}#}
{# <p><a href="{% url 'news:news_list' %}"><span class="date">Вернуться к списку новостей</span></a></p>#}
{# {% else %}#}
{# <p><a href="{% url 'news:press_list' %}"><span class="date">Вернуться к списку материалов</span></a></p>#}
{# {% endif %}#}
{#{% endblock content %}#}